/* 導覽列 */
#topTop {
    background-color: rgb(235, 228, 243);
}

#rightList {
    padding-top: 40px;
}

#logoTop>a>img {
    height:100px;
    padding-top: 0px;
    padding-left: 90px;
}

#rightList a {
    text-decoration: none;
    font-size: 25px;
    color: #0a0a23;
}

#rightList a:hover {
    color: rgb(218, 144, 8);
}

#topTop a {
    display: inline-block;
    text-decoration: none;
}

#rightList1:hover::after {
    position: absolute;
    color: #ffffff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '會員登入';
}

/* 購物車圖示效果 */

#cartCount {
    background-color: rgba(255, 0, 0, 0.986);
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border-radius: 40%;
    position: absolute;
    margin-left: 30px;
    color: aliceblue;
}

#cartPopup {
    position: absolute;
    border: 1px solid #ccc;
    width: auto;
    background: #fff;
    z-index: 999;
    top: 85px;
    right: 170px;
    display: none;
  
}

/* 標題 : 認識羽球 */
#title {
    width: 450px;
    background-color: rgb(245, 221, 209);
    border-radius: 200px / 100px;
    margin: 30px auto;
    text-align: center;
    margin-top: 150px;
}

#bdbgc {
    background-color: rgb(243, 241, 240);
}

.accordion {
    margin: auto;
}

.accordion img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.accordion-item button {
    background-color: rgba(159, 214, 245, 0.637);
}

/* 標題 : 運動員介紹 */
.pic {
    position: relative;
    width: 350px;
    height: 200px;
    margin: 60px 50px 30px 60px;
    display: flex;
}

.pic img {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 6px 9px 6px rgba(0, 0, 0, 0.575);
    object-fit: contain;
}

.View {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.View button {
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    background-color: #5252be;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 10px 10px #5252be;
    margin-bottom: 15px;
}

.View button:hover {
    background-color: #eb0909;
    color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px 10px #eb0909;
}

.View button:active {
    background-color: #200ae7;
    color: #ffffff;
    box-shadow: 0px 0px 10px 10px #200ae7;
}

.View p {
    color: #f31313;
    font-size: 50px;
    font-weight: 900;
}

.View:hover {

    opacity: 1;
    transition: 1s;
    background-color: #9d9d9e80;
    border-radius: 10px;
}

#main {
    background-image: url(../imges/bg_Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* 回最上層 */
#upArrow {
    background-image: url(../imges/up-arrow.png);
    background-size: contain;
    position: fixed;
    right: 50px;
    bottom: 45px;
    width: 50px;
    height: 50px;
    background-color: #5c4edd9f;
    border-radius: 50%;
}

/* footer icon hover效果 */
#IG:hover::after,
#FB:hover::after,
#Line:hover::after,
#YT:hover::after {
    position: absolute;
    color: #ffffff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
}

#upArrow:hover::after {
    position: absolute;
    color: #ffffff;
    top: -40px;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '回最上層';
    width: 70px;
}

#IG:hover::after {
    content: 'Instagram';
    margin-left: 15px;
}

#FB:hover::after {
    content: 'Facebook';
    margin-left: 15px;
}

#Line:hover::after {
    content: 'Line';
    margin-left: 15px;
}

#YT:hover::after {
    content: 'outube';
    margin-left: 15px;
}