* {
    font-family: 微軟正黑體;
}

/* 導覽列 */
header {
    background-color: rgb(235, 228, 243);
}

#rightList {
    margin-left: 780px;
    padding-top: 75px;
}

#rightList div {
    display: inline-block;
    width: 110px;
}

#logoTop {
    float: left;
}

#logoTop>a>img {


    padding-left: 50px;
}

#rightList a {
    text-decoration: none;
    font-size: 25px;
    color: #0a0a23;
}

#rightList a:hover {
    color: rgb(218, 144, 8);
}

#topTop a {
    display: inline-block;
    text-decoration: none;
}

/* 標題 : 認識羽球 */
#title {
    width: 450px;
    background-color: rgb(245, 221, 209);
    border-radius: 200px / 100px;
    margin: 30px auto;
    text-align: center;
    margin-top: 150px;
}

#bdbgc {
    background-color: rgb(243, 241, 240);
}

.accordion {
    margin: auto;
}

.accordion img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.accordion-item button {
    background-color: rgba(159, 214, 245, 0.637);
}

/* 標題 : 運動員介紹 */
.pic {
    position: relative;
    /* width: 100%; */
    /* height: 200px; */
    margin: 90px 130px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(168, 168, 208, 0.405);
    /* right: -100px; */
    /* top: 50%; */
    transform: translateY(-50%);
    transition: right 0.5s ease-in-out;
    /* position: fixed; */
    box-shadow: 5px 6px 9px 6px rgba(0, 0, 0, 0.575);
}

/* .animated-div {} */
#pic-1 {
    margin-top: 200px;
}
.pic>p {
    padding: 20px;
}

.pic img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    
    /* object-fit: contain; */
}

.View {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.View button {
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    background-color: #4c4caa;
    color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px 10px #5454d1;
    margin-bottom: 15px;
}

.View button:hover {
    background-color: #dd9c9c;
    color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px 10px #d6a3a3;
}

.View button:active {
    background-color: #498146;
    color: #ffffff;
    box-shadow: 0px 0px 10px 10px #498146;
}

.View p {
    color: #070707;
    font-size: 50px;
    font-weight: 900;
}

.View:hover {

    opacity: 1;
    transition: 1s;
    background-color: #a7a6a880;
    border-radius: 10px;
}

#main {
    background-image: url(../imges/bg_Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* 回最上層 */
#upArrow {
    background-image: url(../imges/up-arrow.png);
    background-size: contain;
    position: fixed;
    right: 50px;
    bottom: 45px;
    width: 50px;
    height: 50px;
    background-color: #5c4edd9f;
    border-radius: 50%;
}

footer{
    background-color: rgb(235, 228, 243);
}

/* footer icon hover效果 */
#IG:hover::after,
#FB:hover::after,
#Line:hover::after,
#YT:hover::after {
    position: absolute;
    color: #ffffff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
}

#upArrow:hover::after {
    position: absolute;
    color: #ffffff;
    top: -40px;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '回最上層';
    width: 70px;
}

#IG:hover::after {
    content: 'Instagram';
    margin-left: 15px;
}

#FB:hover::after {
    content: 'Facebook';
    margin-left: 15px;
}

#Line:hover::after {
    content: 'Line';
    margin-left: 15px;
}

#YT:hover::after {
    content: 'outube';
    margin-left: 15px;
}