/* 導覽列 */
header{
  background-color: rgb(235, 228, 243) ;
}
#rightList {
  margin-left: 780px;
  padding-top: 75px;
}
#rightList div{
  display: inline-block;
  width: 110px;
}

#logoTop{
  float: left;
}
#logoTop>a>img {
  

  padding-left: 50px;
}

#rightList a {
  text-decoration: none;
  font-size: 25px;
  color: #0a0a23;
}

#rightList a:hover {
  color: rgb(218, 144, 8);
}

#topTop a {
  display: inline-block;
  text-decoration: none;
}

/* 購物車圖示效果 */

#cartCount {
  background-color: rgba(255, 0, 0, 0.986);
  display: inline-block;
  width: 30px;
  height: 25px;
  text-align: center;
  border-radius: 40%;
  position: absolute;
  margin-left: 30px;
  color: aliceblue;
}

/* main */
.main {
  background-color: rgb(233, 230, 227);
  padding: 30px 0px;
  height: 650px;
}

/* 回最上層 */
#upArrow {
  background-image: url(../imges/up-arrow.png);
  background-size: contain;
  position: fixed;
  right: 50px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  background-color: #5c4edd9f;
  border-radius: 50%;
}

/* footer icon hover效果 */
#IG:hover::after,
#FB:hover::after,
#Line:hover::after,
#YT:hover::after {
  position: absolute;
  color: #ffffff;
  font-size: .8em;
  background: #346e7a;
  padding: 5px;
  border-radius: 5px;
}

#upArrow:hover::after {
  position: absolute;
  color: #ffffff;
  top: -40px;
  font-size: .8em;
  background: #346e7a;
  padding: 5px;
  border-radius: 5px;
  content: '回最上層';
  width: 70px;
}

#IG:hover::after {
  content: 'Instagram';
  margin-left: 15px;
}

#FB:hover::after {
  content: 'Facebook';
  margin-left: 15px;
}

#Line:hover::after {
  content: 'Line';
  margin-left: 15px;
}

#YT:hover::after {
  content: 'outube';
  margin-left: 15px;
}

* {
  font-family: 微軟正黑體;
}

body {
  background-color: white;
}

#username,
#password,
h3,
#fullname,
#comfirm_password,
#username2,
#password2 {
  width: 200px;
  height: 30px;
  margin: 20px;
  color: #df5334;
}

.login h5 {
  margin: 25px;
  color: #a3a2a3;
}

h5:hover {
  color: black;
}

#container1,
#container2 {
  margin: 50px;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid #947adb;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);

  /*定位對齊*/
  position: relative;
  margin: auto;
  top: 100px;
  text-align: center;
}

.system_name {
  /*定位對齊*/
  position: relative;
  margin: auto;
  top: 100px;
  text-align: center;
}

.submit {
  color: white;
  background: #9187cc;
  width: 200px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}

.submit:hover {
  background: #db6937;
}

#container2 {
  display: none;
  /*剛開始消失*/
  height: 500px;
}

.signup_page {
  height: 600px;
}

input {
  padding: 10px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}