

/* 登入、註冊 視窗 */
#tabs {
    width: 550px;
    margin: auto;
}

#fragment-1,
#fragment-2 {
    padding-top: 90px;
    text-align: center;
}

/* 登入、註冊 input */
#fragment-1 input,
#fragment-2 input {
    border-radius: 5px;
    padding: 5px;
}

#fragment-1 input:hover,
#fragment-2 input:hover {
    background-color: rgba(152, 162, 239, 0.186);
}

#inPhone:invalid {
    background-color: #ea9898c2;
}

/* 導覽列 */
#logoTop {
    margin-top: 50px;
}

#rightList {
    margin-top: 50px;
}

#rightList a {
    text-decoration: none;
    font-size: 30px;
    color: #0a0a23;
}

#rightList a:hover {
    color: rgb(218, 144, 8);
}

#topTop a {
    display: inline-block;
    text-decoration: none;
}

#rightList1:hover::after {
    position: absolute;
    color: #ffffff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '會員登入';
}

/* 登入、註冊 button */
#btnLogin1,
#btnLogin2 {
    padding: 10px;
    margin: 100px 10px 30px 0px;
}

/* main */
.main {
    background-color: rgb(233, 230, 227);
    padding: 30px 0px;
}

/* 回最上層 */
#upArrow {
    background-image: url(../imges/up-arrow.png);
    background-size: contain;
    position: fixed;
    right: 50px;
    bottom: 45px;
    width: 50px;
    height: 50px;
    background-color: #5c4edd9f;
    border-radius: 50%;
}

/* footer icon hover效果 */
#IG:hover::after,
#FB:hover::after,
#Line:hover::after,
#YT:hover::after {
    position: absolute;
    color: #ffffff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
}

#upArrow:hover::after {
    position: absolute;
    color: #ffffff;
    top: -40px;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '到最上層';
    width: 70px;
}

#IG:hover::after {
    content: 'Instagram';
    margin-left: 15px;
}

#FB:hover::after {
    content: 'Facebook';
    margin-left: 15px;
}

#Line:hover::after {
    content: 'Line';
    margin-left: 15px;
}

#YT:hover::after {
    content: 'outube';
    margin-left: 15px;
}