* {
    margin: 0;
    padding: 0;
}

/* 登入、註冊 視窗 */
#tabs {
    width: 550px;
    margin: auto;
}

#fragment-1,
#fragment-2 {
    padding-top: 90px;
    text-align: center;
}

/* 登入、註冊 input */
#fragment-1 input,
#fragment-2 input {
    border-radius: 5px;
    padding: 5px;
}

#fragment-1 input:hover,
#fragment-2 input:hover {
    background-color: rgba(152, 162, 239, 0.186);
}

#inPhone:invalid {
    background-color: #ea9898c2;
}
#logoTop {
    margin-top: 50px;
}

#rightList {
    margin-top: 50px;
}

#rightList a {
    text-decoration: none;
    font-size: 30px;
    color: #0a0a23;
}

#rightList a:hover {
    color: rgb(233, 199, 9);
}

#topTop a {
    display: inline-block;
    text-decoration: none;
}

/* 登入、註冊 button */
#btnLogin1,
#btnLogin2 {
    padding: 10px;
    margin: 100px 10px 30px 0px;
}

/* main */
.main {
    background-color: rgb(233, 230, 227);
    padding: 30px 0px;
}

.upArrow {
    background-image: url(../imges/up-arrow.png);
    background-size: contain;
    position: fixed;
    right: 50px;
    bottom: 45px;
    width: 50px;
    height: 50px;
}